.header-name {
  padding: 20px;
  background-color: #cbd5e1;
  text-align: center;
  font-family: 'Roboto';
  color: #64748b;
  font-weight: 800;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .header-name {
    width: 100%;
  }
}
